.timetable {
  display: flex;
  flex-direction: column;

  width: min-content;
}

.timetable p {
  font-weight: 300;
  font-size: 12px;
  color: #a19b9d;
  white-space: nowrap;
  margin-bottom: 20px;
}
